<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/index/EchoPet-logo-preto.png">
  <title>Carrinho de compras</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/Carrinho.css">
</head>




<body>

  
  <%- include('./partials/header') %>
  

  <main>
    <div class="container" id="containerCarrinho">

      <div class="row" id="titleCarrinho">
        <div class="col-12">
          <h2>Meu carrinho <img src="./img/Carrinho/carrinho.png" alt="" class="img-thumbnail"
              id="logoCarrinho"></h2>
        </div>
      </div>

      <div class="row" id="carrinhoProdutos">
        <div class="col-md-6 id=">
          <div class="table-responsive">
            <table class="table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% carrinhos.forEach(produto => { %>
                    <th scope="row" id="codProduto"><%= produto.id %></th>
                    <td class="descProduto"><%= produto.prd_descricao %></td>
                    <td class="qtd">Qtd Cliente</td>
                    <td>R$ <%= produto.prd_valor %>,00 </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </table>
          </div>
        </div>

        <div class="col-md-1">

        </div>

        <div class="col-md-5" id="resumoCarrinho">
          <div class="card w-75">
            <div class="card-body">
              <h4 class="card-title">Resumo do Pedido</h4>
              <p id="qtdProdCarrinho">? Produtos</p>
              <p class="card-text"><strong>Frete: </strong><span id="valorFrete">Grátis</span></p>
              <p class="linhaDiv"></p>
              <h5 class="card-title">Subtotal: <span>R$ ?</span></h5>
              <!--<p id="parceleInfo">Na EchoPet sua compra está garantida!</p>-->
              <p class="card-text"><a href="#" id="cupomDesconto">Possui um cupom de desconto?</a><br><br>
                <a href="/alterarPagamento" class="btn btn-primary">Continuar Compra</a>
            </div>
          </div>
        </div>

        <!--Frete-->
        <div class="input-group" id="freteRegiao">
          <select class="custom-select" id="inputGroupSelect04" aria-label="Exemplo de select com botão addon">
            <option selected>Digite sua região para calcular o frete</option>
            <option value="1">Sul</option>
            <option value="2">Sudeste</option>
            <option value="3">Norte</option>
            <option value="4">Nordeste</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Calcular Frete</button>
          </div>
        </div>

        <!--Cupom de desconto-->
        <div class="desconto10Porcento">
          <p class="cumpomDescontoTextoNormal">Use o cupom <b class="cupomPetiscao">PETISCAO</b> e ganhe <b
              class="cupomPetiscao">R$ 10,00 reais</b> na sua 1ª compra</p>
        </div>
        
  </main>

  </div><br><br>

  </div>


  </div>
  
  </main>


  <%- include('./partials/novoTesteFooter') %>

 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script src="/javascripts/carrinho.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>